{% extends "base.html" %}
{% block content %}    
    <h2>Lorem ipsum</h2>
      <h3>Lorem ipsum</h3>
      {% load static from staticfiles %}
        <div class="content_item">
      	      <ul id="badges_list">
                        {% for badge in badges %}
                            <li>
                            {% if badge.state %}
                              <div id= "badge_true" >
                                {{badge.badge.name}}
                                <div class = "about" >{{badge.badge.about}} </div>
                              </div>
                              {% else %}
                                <div id ="badge_false">
                                  {{badge.badge.name}}
                                  <div class = "about" >{{badge.badge.about}}</div>
                                </div>
                            {% endif %}
                            </li>
                        {% endfor %}
              </ul>
                    <div class="pagination">
                        <span class="page-links">
                        <div class="arrow">
                {% if badges.has_previous %}
      <a href="/badges/list?page={{ badges.previous_page_number }}"><img width="30" height="30" src="{% static "images/left.png" %}"></a>
                {% endif %}
                            </div>
                            <span class="page-current">
                                Page {{ badges.number }} of {{ badges.paginator.num_pages }}.
                            </span>
                        <div class="arrow">
                            {% if badges.has_next %}
      <a href="/badges/list?page={{ badges.next_page_number }}"><img width="30" height="30" src="{% static "images/right.png" %}"></a>
                            {% endif %}
                            </div>
                        </span>
                    </div>
              <p>&nbsp;</p>
		    </div>
{% endblock content %}
