{% extends "base.html" %}
{% block content %}    
    <h2>About team</h2>
        <div class="content_item">
          <div style="width:550px; float:left;">
                  <p style=text-align:left> We are entusiastic team, who really like to creating and developing games.</p>
      <h3 style=text-align:left>Katarina Nogradiova</h3>
      <p style=text-align:left>  She is in love with virtual reality and every new and modern gedits. I should write more details about me, but I really don't know what to write. So this is everything. Thank you for your attention.</p>
      <h3 style=text-align:left>Alenka Vancikova</h3>
      <p style=text-align:left> She is a super truper programmer.</p>
          </div>
        </div>
{% endblock content %}
